<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="./img/logo.png" type="image/png">
    <title>AURORA Plantations || The Best Plants & food Seller</title>
    <!-- <script defer src="../js/controller.js"></script> -->
</head>
<body>

    <header class="header">
        <nav class="nav">
            <a href="./index.html" class="logo">
                <div class="logo__icon">au</div>
                <div class="logo__text">
                    <span class="logo__text--main">aurora</span>
                    <span class="logo__text--sub">plantation</span>
                </div>
            </a>

            <ul role="menu" class="nav__links">
                <li>
                    <a  href="./login.html" class="link btn_login">profile</a>
                </li>
                
            </ul>
        </nav>

        <h1 class="heading_1">
            welcome to , <span class="underline">Management Office cleark</span> 
        </h1>

    </header>

    <nav class="staff_nav">
        <ul role="navigation">
                <li><a href="#" class="secondary-btn active">orders</a></li>
                <li><a href="#" class="secondary-btn">transport</a></li>
                <li><a href="#" class="secondary-btn">invoice</a></li>
                <li><a href="#" class="secondary-btn">weight ticket</a></li>
                <li><a href="#" class="secondary-btn">sales momo</a></li>
                <li><a href="#" class="secondary-btn">users</a></li>
        </ul>
    </nav>


    <div class="option_bar">
        <button class="create">create +</button>
        <input type="search" placeholder="Search by #Id"/>
        <div class="filter">
            sort by 
            <select name="filter" id="filter" value="order_date">
                <option value="order_id">order id</option>
                <option value="order_date">order date</option>
                <option value="vehicle_no">vehicle no </option>
            </select>
        </div>
    </div>

    <table class="staff-view-table">
        <tr>
            <th>order id</th>
            <th>customer name</th>
            <th>status</th>
            <th>order date</th>            
            <th>price</th>
        </tr>
        <tr>
            <td>OR09078676473</td>
            <td>chathura priyashan</td>
            <td class="txt--pending">pending</td>
            <td>12/09/2023</td>
            <td class="util-lkr">1600</td>
        </tr>
        <tr>
            <td>OR09078676473</td>
            <td>chathura priyashan</td>
            <td class="txt--issued">issued</td>
            <td>12/09/2023</td>
            <td class="util-lkr">1600</td>
        </tr>
        <tr>
            <td>OR09078676473</td>
            <td>chathura priyashan</td>
            <td class="txt--shipping">shipping</td>
            <td>12/09/2023</td>
            <td class="util-lkr">1600</td>
        </tr>
        <tr>
            <td>OR09078676473</td>
            <td>chathura priyashan</td>
            <td class="txt--successful">successful</td>
            <td>12/09/2023</td>
            <td class="util-lkr">1600</td>
        </tr>
        <tr>
            <td>OR09078676473</td>
            <td>chathura priyashan</td>
            <td class="txt--canceled">canceled</td>
            <td>12/09/2023</td>
            <td class="util-lkr">1600</td>
        </tr>
    </table>

</body>